body {
  background-color: #141518;
  font-family: 'Karla', sans-serif;
  color: white;
}

p {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.container-main {
  padding-top: 40px;
}

.dl-intro {
  padding-bottom: 40px;
}

.dl-card {
  color: white;
  background-color: #1E2024;
  border-style: solid;
  border-width: 1px;
  border-color: #34373A;
}

.tou-card {
  color: white;
  background-color: #1E2024;
  border-style: solid;
  border-width: 1px;
  border-color: #34373A;
}
.navbar {
  color: white;
}

a {
  color: white;
}

.myshunosun-link {
  font-size: 16px;
}

.navbar-links ul li {
  display: inline;
}

.hidden {
  display: none;
}