body {
  background-color: #131313;
  font-family: 'Karla', sans-serif;
  color: white;
}

p {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.container-main {
  padding-top: 40px;
}

.dl-intro {
  padding-bottom: 40px;
}

.dl-card {
  color: white;
  background-color: #333;
  border-color: #333;
}

.tou-card {
  color: white;
  background-color: #333;
  border-color: #343434;
}

.navbar-links ul li {
  display: inline;
}

.hidden {
  display: none;
}